{% load static %}
<footer class="footer">
    <div class="footer__wrapper">
        <figure class="footer__logo">
            <a href="/"><img class="footer__logo-img" src="{% static 'img/footer/logo.svg' %}" width="70" alt="Yogether"></a>
            <figcaption class="footer__logo-figcaption"><a class="footer__link footer__logo-link" href="/">Yogether</a></figcaption>
        </figure>
        <div class="footer__center">
            <ul class="footer__menu">
                <li class="footer__menu-item"><a class="footer__link" href="/">Главная</a></li>
                <li class="footer__menu-item"><a class="footer__link" href="{% url 'user_search' %}">Участники</a></li>
                <li class="footer__menu-item"><a class="footer__link" href="/page/about/">О проекте</a></li>
                <li class="footer__menu-item"><a class="footer__link" href="/page/contacts/">Контакты</a></li>
            </ul>
            <div class="footer__copyright">&copy; Yogether. Копирование материалов возможно только с разрешения владельца.</div>
        </div>
        <div class="footer__social">
            <a href="https://vk.com/yogether" target="_blank" class="footer__soc-link"><img src="{% static 'img/footer/vk.png' %}" alt="Вконтакте"></a>
            <a href="#" class="footer__soc-link"><img src="{% static 'img/footer/telegram.png' %}" alt="Телеграм"></a>
            <a href="#" class="footer__soc-link"><img src="{% static 'img/footer/youtube.png' %}" alt="Youtube"></a>
            <a href="#" class="footer__soc-link"><img src="{% static 'img/footer/ok.png' %}" alt="Одноклассники"></a>
        </div>
    </div>
</footer>
<!-- Yandex.Metrika counter --> <script type="text/javascript" > (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)}; var z = null;m[i].l=1*new Date(); for (var j = 0; j < document.scripts.length; j++) {if (document.scripts[j].src === r) { return; }} k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)}) (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym"); ym(90213863, "init", { clickmap:true, trackLinks:true, accurateTrackBounce:true }); </script> <noscript><div><img src="https://mc.yandex.ru/watch/90213863" style="position:absolute; left:-9999px;" alt="" /></div></noscript> <!-- /Yandex.Metrika counter -->