.profile-structure__photos{
    padding-left: 50px;
    margin-bottom: 60px;

    @media (max-width: 1024px){
        padding-left: 0px;
    }
    @media (max-width: 1024px){
        margin-top: 30px;
    }
}

.photos{
    width: 100%;
    text-align: center;

    &__add{
        margin-bottom: 30px;
    }

    &__item{
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 30px;

        @media (max-width: 480px){
            flex-flow: row wrap;
            justify-content: flex-start;
            margin-bottom: 40px;
        }
    }

    &__photo{
        order: 1;
        height: 200px;
        flex-basis: 200px;
        min-width: 200px;
        display: flex;
        align-items: center;
        justify-content: center;

        @media (max-width: 768px){
            flex-basis: 120px;
            min-width: 120px;
            height: auto;
        }

        @media (max-width: 480px){
            flex-basis: 150px;
            min-width: 150px;
            justify-content: flex-start;
        }

        img{
            border-radius: 8px;
            max-width: 200px;
            max-height: 200px;
            width: auto;
            height: auto;

            @media (max-width: 768px){
                max-width: 120px;
                max-height: 120px;
            }

            @media (max-width: 480px){
                max-width: 150px;
                max-height: 150px;
            }
        }
    }

    &__description{
        order: 2;
        padding-left: 16px;
        flex-basis: 100%;

        @media (max-width: 480px){
            order: 6;
            flex-basis: 100%;
            margin-top: 16px;
            padding-left: 0;
        }

        textarea{
            width: 100%;
            height: 200px;

            @media (max-width: 768px){
                height: 120px;
            }

            @media (max-width: 480px){
                height: 150px;
            }
        }
    }

    &__arrows{
        order: 3;
        padding-left: 13px;        
        flex-basis: 30px;

        img{
            cursor: pointer;
        }
    }

    &__delete{
        order: 4;
        padding-left: 15px;      
        flex-basis: 30px;

        img{
            cursor: pointer;
        }
    }

    &__loading{
        display: none;
        padding-left: 15px;  
        order: 5; 
        flex-basis: 73px;
        min-width: 88px;
    }

    
    &__save-loading{
        display: none;
        margin-bottom: 30px;
        @media (max-width: 480px){
            margin-bottom: 20px;
        }
    }

    &__save-message{
        display: none;
        margin-bottom: 20px;
    }

    &__save-message-err{
        color: $errorMsgColor;
    }

    &__save{
        @media (max-width: 480px){
            width: 160px;
            font-size: 14px;
        }
    }

}
