/* Variables */
/* Configuration */
/* main button */
.button, .button_empty {
  display: inline-block;
  cursor: pointer;
  border: none;
  border-radius: 8px;
  padding: 14px 32px;
  background: #7551A8;
  color: white;
  white-space: nowrap;
  font-size: 14px;
  line-height: 16px;
  font-weight: 600;
  text-align: center;
}

.button:hover, .button_empty:hover {
  background-color: #AB89DB;
  text-decoration: none;
}

@media (max-width: 480px) {
  .button, .button_empty {
    padding: 12px 7px;
    font-size: 12px;
    line-height: 14px;
    font-weight: 500;
  }
}

.button_empty {
  background: none;
  border: 2px solid #49497D;
  padding: 12px 32px;
  color: #49497D;
  font-weight: 600;
}

@media (max-width: 480px) {
  .button_empty {
    border-width: 1px;
    padding: 11px 7px;
  }
}

.button_empty:hover {
  background-color: #49497D;
  color: white;
}

.avatar {
  margin: 0px auto 90px auto;
  text-align: center;
}

.avatar h1 {
  font-weight: 500;
  font-size: 32px;
  line-height: 100%;
  letter-spacing: 0.01em;
  color: #07071F;
  text-align: center;
  margin: 30px 0px 30px 0px;
}

.avatar__description {
  text-align: center;
  line-height: 160%;
  margin-bottom: 15px;
}

.avatar__error {
  color: #E62E6B;
  margin-bottom: 15px;
  display: none;
}

.avatar__button {
  margin-bottom: 20px;
}

.avatar__delete {
  display: block;
  color: #8A8A9E;
  text-decoration: underline;
}

.avatar__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-bottom: 20px;
  margin-top: 30px;
}

@media (max-width: 720px) {
  .avatar__block {
    display: block;
  }
}

.avatar__area-select {
  margin-right: 30px;
  width: 500px;
  max-width: 500px;
}

@media (max-width: 1180px) {
  .avatar__area-select {
    width: 410px;
    max-width: 410px;
    margin-right: 10px;
  }
}

@media (max-width: 720px) {
  .avatar__area-select {
    width: 460px;
    max-width: 460px;
    margin: auto;
    margin-bottom: 10px;
  }
}

@media (max-width: 480px) {
  .avatar__area-select {
    width: 100%;
    max-width: 100%;
  }
}

.avatar__area-select img {
  display: block;
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 600px;
}

.avatar__preview {
  -ms-flex-preferred-size: 270px;
      flex-basis: 270px;
}

.avatar__preview-big {
  width: 270px;
  height: 270px;
  overflow: hidden;
  border-radius: 135px;
  margin-bottom: 20px;
}

@media (max-width: 1180px) {
  .avatar__preview-big {
    width: 240px;
    height: 240px;
  }
}

@media (max-width: 720px) {
  .avatar__preview-big {
    width: 180px;
    height: 180px;
    margin: auto;
    margin-bottom: 5px;
  }
}

.avatar__preview-small {
  display: inline-block;
  width: 70px;
  height: 70px;
  overflow: hidden;
  border-radius: 35px;
}

@media (max-width: 720px) {
  .avatar__preview-small {
    display: block;
    margin: auto;
  }
}

.avatar__coordinates {
  margin-bottom: 30px;
}
/*# sourceMappingURL=avatar.css.map */