<?xml version="1.0"?>
<configuration>
  <system.web>
    <compilation debug="true"/>
    <customErrors mode="Off"/>
    <sessionState mode="InProc" cookieless="false" cookieName="ASP.NET_SessionId" regenerateExpiredSessionId="true" timeout="180"/>
    <httpRuntime requestValidationMode="2.0" maxRequestLength="1048576"/>
  </system.web>
  <connectionStrings>
    <add name="mainConnection" connectionString="Server=localhost;Database=u0611623_avi;User Id=u0611623_avi;Password=u%y154aI;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>