{% extends "ygTemplates/tplRegistration.html" %}

{% block title %}Восстановление пароля{% endblock %}
{% block breadcrumbs %}<span>Восстановление пароля</span>
{% endblock %}

{% block content %}

<div class="profile-form">

    <h1>{% if token_fail %}Bad Token{% else %}Сменить пароль{% endif %}</h1>

    {% if token_fail %}
        {% url 'account_reset_password' as passwd_reset_url %}
        <p>Ссылка на сброс пароля не верна, возможно она уже была использована. Пожалуйста, забросите <a href="{{ passwd_reset_url }}">новую ссылку на сброс пароля</a>.</p>

    {% else %}
        {% if form %}
            <form method="POST" action="{{ action_url }}">
                {% csrf_token %}
                {{ form.as_p }}
                <button class="button profile-form__button" type="submit">Изменить пароль</button>
            </form>
        {% else %}
            <p>Ваш пароль был успешно изменён</p>
        {% endif %}
    {% endif %}

</div>

{% endblock %}
