{% extends "ygTemplates/tplRegistration.html" %}

{% block title %}Восстановление пароля{% endblock %}
{% block breadcrumbs %}<span>Восстановление пароля</span>
{% endblock %}

{% load account %}


{% block content %}

<div class="profile-form">
    <h1>Сбросить пароль</h1>

    <p class="profile-form__desc">Забыли пароль? Введите свой e-mail адрес ниже, и мы вышлем вам письмо для сброса пароля.</p>

    <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
        {% csrf_token %}
        {{ form.as_p }}
        <button class="button profile-form__button" type="submit">Сбросить мой пароль</button>
    </form>

    <p>Свяжитесь с нами, если у вас возникли сложности со сменой пароля.</p>
</div>

{% endblock %}
