{% extends "ygTemplates/tplRegistration.html" %}

{% block title %}Изменение пароля{% endblock %}
{% block breadcrumbs %}<span>Изменение пароля</span>
{% endblock %}

{% load i18n %}

{% block content %}

<div class="profile-form">

    <h1>{% trans "Set Password" %}</h1>

    <form method="POST" action="{% url 'account_set_password' %}" class="password_set">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" name="action" value="{% trans 'Set Password' %}"/>
    </form>

</div>

{% endblock %}
