{% extends "ygTemplates/tplRegistration.html" %}

{% block title %}Изменение пароля{% endblock %}
{% block breadcrumbs %}<span>Изменение пароля</span>
{% endblock %}

{% load i18n %}

{% block content %}

<div class="profile-form">
    <h1>{% trans "Change Password" %}</h1>

    <form method="POST" action="{% url 'account_change_password' %}" class="password_change">
        {% csrf_token %}
        {{ form.as_p }}

        <button class="button profile-form__button" type="submit">{% trans 'Change Password' %}</button>
    </form>
    <a href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
</div>

{% endblock %}
