{% extends "ygTemplates/tplRegistration.html" %}

{% block title %}Регистрация{% endblock %}
{% block breadcrumbs %}<span>Регистрация</span>
{% endblock %}

{% block content %}

<div class="profile-form">

    <h1>Подтвердите ваш e-mail</h1>

    <p class="profile-form__desc profile-form__desc_left">Мы отправили вам e-mail с подтверждением. Для завершения процесса регистрации перейдите по указанной ссылке.</p>
    <p class="profile-form__desc profile-form__desc_left">Если вы не получили наше сообщение в течение нескольких минут, пожалуйста, свяжитесь с нами.</p>

</div>

{% endblock %}
