.profile-menu{
    width: 270px;
    min-width: 270px;
    border: 1px solid rgba(42, 16, 78, 0.2);
    box-shadow: 0px 3px 12px -2px rgba(42, 16, 78, 0.15);
    border-radius: 8px;
    box-sizing: border-box;
    padding: 16px;
    font-size: 16px;

    &__item{
        display: block;
        line-height: 47.5px;
        padding-top: 2.5px;
        padding-left: 44px;
        background-repeat: no-repeat;
        background-position: 16px center;

        &:hover{
            text-decoration: none;
        }

        &_selected{
            background-color: #F3E3FF;
            border-radius: 8px;
        }

        &_home{ background-image: url('../../img/profile-edit/profile-menu/home.png'); }
        &_photos{ background-image: url('../../img/profile-edit/profile-menu/photos.png'); }
        &_messages{ background-image: url('../../img/profile-edit/profile-menu/messages.png'); }
        &_notifications{ background-image: url('../../img/profile-edit/profile-menu/notifications.png'); }
        &_friends{ background-image: url('../../img/profile-edit/profile-menu/friends.png'); }
        &_config{ background-image: url('../../img/profile-edit/profile-menu/config.png'); }
    }
}