{% extends "ygTemplates/tplProfile.html" %}

{% load static %}

{% block title %}Профиль пользователя{% endblock %}
{% block breadcrumbs %}<a href="{% url 'user_search' %}" class="title__link">Участники</a><span>Профиль пользователя</span>
{% endblock %}


{% block content %}
<script src="{% static 'js/fancybox.umd.js' %}"></script>
<link rel="stylesheet" href="{% static 'css/plugins/fancybox.css' %}" />

<input id="hUserId" type="hidden" value="{{user.id}}">
<input id="hUserViewedId" type="hidden" value="{{main_info.id}}">
<input id="hLiked" type="hidden" value="{{ liked.value }}">

<script src="{% static 'js/ajax/likes-ajax.js' %}"></script>

    <!-- Profile start -->
    {{ noindex.start|safe }}
    <div class="user-profile">
        <div class="user-profile__wrapper">
            <div class="user-view user-profile__view">
                <div class="user-view__avatar">

                    {% if main_info.profile_pic %}
                    <a href="{{ main_info.profile_pic_full.url }}" data-fancybox="gallery">
                    <img class="user-view__avatar-img" src="{{ main_info.profile_pic.url }}"
                         alt="{{ main_info.first_name }} {{ main_info.last_name }}" />
                    </a>
                    {% else %}
                    <img class="user-view__avatar-img" src="{% static 'img/user-profile/no-photo.png' %}"
                         alt="{{ main_info.first_name }} {{ main_info.last_name }}" />
                    {% endif %}

                </div>

                {% if user_photos %}
                <h2 class="user-view__h2">Фотографии пользователя</h2>
                <div class="user-view__prevs">
                    {{ user_photos|safe }}
                </div>
                {% endif %}

                <div class="user-view__buttons">
                    <button class="user-view__like {{ liked.css }}">Мне нравится</button>
                    <a href="{{message_link}}" class="user-view__message-full"><img src="{% static 'img/user-profile/message.svg'%}" alt="Написать сообщение"></a>
                </div>
            </div>
            <div class="user-info user-profile__info">
                <div class="user-info__name">
                    <img class="user-info__photo"
                    {% if main_info.profile_pic %}
                        src="{{ main_info.profile_pic.url }}"
                    {% else %}
                        src="{% static 'img/user-profile/no-photo.png' %}"
                    {% endif %}
                    alt="{{ main_info.first_name }} {{ main_info.last_name }}">
                    <h1 class="user-info__h1">{{ main_info.first_name }} {{ main_info.last_name }}</h1>
                </div>
                <div class="user-info__buttons">
                    <button id="bAddFriendMobile" class="user-info__like {{ liked.css_mobile }}">Мне&nbsp;нравится</button>
                    <a href="{{message_link}}" class="user-info__message">Написать сообщение</a>
                </div>

                <!-- User params start -->

                    {% if user_info.location %}
                    <div class="user-info__item">
                        <div class="user-info__param">Место жительства:</div>
                        <div class="user-info__value">{{ user_info.location }}</div>
                    </div>
                    {% endif %}

                    {% if user_info.birth_date %}
                    <div class="user-info__item">
                        <div class="user-info__param">Возраст:</div>
                        <div class="user-info__value">{{ user_info.getAge }}</div>
                    </div>
                    {% endif %}

                    {% if user_info.marital_status %}
                    <div class="user-info__item">
                        <div class="user-info__param">Семейное положение:</div>
                        <div class="user-info__value">{{ user_info.str_mar_status }}</div>
                    </div>
                    {% endif %}

                    {% if user_info.doctrine_list %}
                    <div class="user-info__item">
                        <div class="user-info__param">Учение:</div>
                        <div class="user-info__value">{{ user_info.doctrine_list|safe }}</div>
                    </div>
                    {% endif %}

                    {% if user_info.tradition_list %}
                    <div class="user-info__item">
                        <div class="user-info__param">Традиция:</div>
                        <div class="user-info__value">{{ user_info.tradition_list|safe }}</div>
                    </div>
                    {% endif %}

                    {% if user_info.practice_list %}
                    <div class="user-info__item">
                        <div class="user-info__param">Практики:</div>
                        <div class="user-info__value">{{ user_info.practice_list|safe }}</div>
                    </div>
                    {% endif %}

                    {% if user_info.experience %}
                    <div class="user-info__item">
                        <div class="user-info__param">Опыт практики:</div>
                        <div class="user-info__value">{{ user_info.experience }}</div>
                    </div>
                    {% endif %}

                    {% if user_info.interest_list %}
                    <div class="user-info__item">
                        <div class="user-info__param">Интересы:</div>
                        <div class="user-info__value">{{ user_info.interest_list|safe }}</div>
                    </div>
                    {% endif %}

                    {% if user_info.request %}
                    <div class="user-info__item">
                        <div class="user-info__param">Ищу:</div>
                        <div class="user-info__value">{{ user_info.request }}</div>
                    </div>
                    {% endif %}

                    {% if user_info.about %}
                    <div class="user-info__item">
                        <div class="user-info__param">Обо мне:</div>
                        <div class="user-info__value">{{ user_info.about }}</div>
                    </div>
                    {% endif %}

                    {% if not user_info.enough_info %}
                    <div class="user-info__item">
                        <div class="user-info__param" style="flex-basis: 100%;">Пользователь не указал данные о себе.</div>
                    </div>
                    {% endif %}
                <!-- User params end -->

            </div>
        </div>
    </div>
    {{ noindex.end|safe }}
    <!-- Profile end -->

<!-- Recommendations start -->
{% include "../ygProfile/recommendations.html" %}
<!-- Recommendations end -->

{% endblock %}