{% extends "ygTemplates/tplProfile.html" %}

{% load static %}

{% block title %}Симпатии{% endblock %}
{% block breadcrumbs %}<a href="{% url 'user_profile' user_id=user.id %}" class="title__link">Профиль</a><span>Симпатии</span>
{% endblock %}


{% block content %}

<style>
    @import "{% static 'css/common/profile-structure.css' %}";
    @import "{% static 'css/content/user-likes.css' %}";
</style>

<!-- Profile structure start -->
    <div class="profile-structure">
        <div class="profile-structure__wrapper">

            <!-- Profile menu start -->
            {% include "../ygProfile/profile-menu.html" %}
            <!-- Profile menu end -->

            <!-- User likes start -->
            <div class="profile-structure__content likes">
                <div class="likes__parts">
                    {{ header_html|safe }}
                </div>

                <!-- Result list start -->
                <div class="likes__users">
                    {{ users|safe }}
                </div>
                <!-- Result list end -->

            </div>
            <!-- User likes end -->

        </div>
    </div>
<!-- Profile structure end -->

{% endblock %}