/* Variables */
$contentDesktopWidth: 1170px;
$linksColor: #7551A8;
$flatTextColor: #07071F;
$bgLightColor: #FDFBFD;
$errorMsgColor: #E62E6B;
$paramTextColor: #8A8A9E;
$placeHolderColor: #B7B7D3;
$activeMenuColor: #F3E3FF;
$cornerRadius: 8px;

/* Configuration */
$imagePath: '../../img/';
$fontsPath: '../../fonts/';